.container {
  padding: 50px;
  display: flex;
  flex-wrap: nowrap;
}

.category {
  width: 300px;
  margin-right: 50px !important;
}

.ant-upload-list {
  display: none !important;
}

.tag {
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  background: #E5F3FF;
  border-radius: 5px;
}
